:root{
    --color-blue: #2196F3;
    --color-white: #FFFFFF;
    --color-dark: #212121;
    --color-light: #757575;
    --bg-gradient-color: rgba(47, 48, 58, 0.4);
	--bcg-btn-active-color: #188CE8;
    --bg-dark: #2F303A;

    --text-font: 'Raleway';

    --weight-regular: 400;
    --weight-medium: 500;
    --weight-bold: 700;
    --weight-black: 900;

}

svg:not(:root) {
    overflow: hidden;
}

h1, h2, h3, h4, p,
ul, li
 {
    margin: 0;
    padding: 0;
}

body{
    color:#212121;    ;
    font-family: Roboto, fantasy;
    padding: 0;
    margin:0 ;
}


.conteiner{
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    font-weight: var(--weight-medium);
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ECECEC;
}


.logo{
    font-family: var(--text-font);
    font-style: normal;
    font-weight: var(--weight-bold);
    font-size: 26px;
    line-height: 31px;
    color: #000000;
    text-decoration: none;
    margin-right: 93px;
}

.logo span{
    font-family: var(--color-blue);
    font-style: normal;
    font-weight: var(--weight-bold);
    font-size: 26px;
    color: var(--color-blue);
}

.header-wrapper {
    display: flex;
    align-items: center;
    height: 80px;
}

.main-menu{
    list-style-type: none;
    display:flex;
    align-items: center;
}

.main-menu a{
    font-style: normal;
    font-weight: var(--weight-regular);
    font-size: 14px;
    text-decoration: none;
    color: var(--color-dark);
}

.main-menu a:hover{
    color:var(--color-blue);
}

.menu-item{
    margin-right: 50px;
}
.menu-item:last-child {
    margin-right: 0;
}

.address-menu-item{
    margin-right: 50px;
}
.address-menu-item:last-child {
    margin-right: 0;
}

.link-address-menu{
    list-style-type: none;
    display:flex;
    align-items: center;
    margin-left:auto;
}

.header-contacts-link{
    font-style: normal;
    font-weight: var(--weight-regular);
    font-size: 14px;
    text-decoration: none;
    color:var(--color-light);
}

.header-contacts-link:focus,
.header-contacts-link:hover{
    color:var(--color-blue);    
}

.header-contacts-link {
	display: flex;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;
}


.header-contacts-icon {
    fill: currentColor;
	margin-right: 10px;
}

.header-contacts-icon:hover,
.header-contacts-icon:focus{
	fill: var(--color-blue);
}

.hero{
    background-color: var(--accent-bg-cl);
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.header-hero{
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.button-hero{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.06em;
    color: var(--color-white);
    background-color: var(--color-blue);
    padding: 6px 22px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.button-hero:hover,
.button-hero:focus {
	background-color: var(--bcg-btn-active-color);
}

.feature{
    padding-bottom: 94px;
    padding-top: 94px;
}
.feature-head{
    display:none;
}

.feature-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.feature-list p{
    font-style: normal;
    font-weight: var(--weight-regular);
    line-height: 24px;
    font-size: 14px;
    color:var(--color-light);
}

.feature-list h3{
    font-style: normal;
    font-weight: var(--weight-bold);
    font-size: 14px;
}

.feature-item{
    margin-right: 30px;
}

.feature-item:last-child{
    margin-right:0px;

}

.feature-name{
    margin-bottom: 10px;
    text-transform: uppercase;
}

.services{
    padding-bottom: 94px;
}

.services-logo{
    font-style: normal;
    font-weight: var(--weight-bold);
    font-size: 36px;
    text-align: center;
    padding-bottom: 50px;
}

.list-services{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.services-item{
    margin-right: 30px;
    width: 370px;
    height: 294px;
}

.services-item:last-child{
    margin-right: 0px;
}

.command{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color:#f5f4fa;
}

.command-title{
    font-style: normal;
    font-weight: var(--weight-bold);
    font-size: 36px;
    text-align: center;
    padding-bottom: 50px;
}

.command-list{
    list-style-type: none;
    display: flex;
}

.team-title{
    font-style: normal;
    font-weight: var(--weight-medium);
    font-size: 16px;
    margin-bottom: 10px;
}

.team-specialist{
    font-style: normal;
    letter-spacing: 0.03em;
    font-weight: var(--weight-regular);
    font-size: 16px;
    margin-bottom: 16px;
}

.command-item{
    text-align: center;
    letter-spacing: 0.03em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    width: 270px;
    margin-right: 30px;
}

.command-item:last-child{
    margin-right: 0px;
}

.command-wrapper{
    background-color: var(--color-white);
    padding: 30px 15px;
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-link-icon, .social-item{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    transition: color 1s ease, margin 1s ease;
    color: #afb1b8;
    background-color: var(--color-white);
    border-radius: 50%;
}

.social-icon {
    fill: currentColor;
  }

.social-link-icon:hover,
.social-link-icon:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
}


.section-client{
    padding-top: 94px;
    padding-bottom: 94px;
    align-items: center;
}

.client-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .client-list {
    list-style: none;
    display: flex;
    gap: 30px;
    --items: 6;
  }
  .client-item {
    width: 170px;
    height: 92px;
  }
  
  .client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    color: #afb1b8;
  }
  
  .client-link:hover,
  .client-link:focus {
    color: #2196f3;
    border: 1px solid #2196f3;
  }
  
  .client-icon {
    fill: currentColor;
  }


.footer{
    background-color: var(--bg-dark);
    padding: 60px 0;
}

.logo-footer{
    font-family: var(--text-font);
    font-style: normal;
    font-weight: var(--weight-regular);
    font-size: 26px;
    line-height: 31px;
    color: var(--color-white);
    text-decoration: none;
    margin-bottom: 20px;
}
.logo-footer span{
    color:var(--color-blue);
}
.address-footer{
    display: flex;
    flex-direction: column;
    gap:9px;
}


.email_address, 
.phone_footer{
    font-style: normal;
    font-weight: var(--weight-regular);
    font-size: 14px;
    text-decoration: none;
    color:var(--color-light); 
}

.address-footer a:hover{
    color:var(--color-blue);
}

.address-shop{
    font-style: normal;
    font-weight: var(--weight-regular);
    font-size: 14px;
    text-decoration: none;
    color:var(--color-white);
}

.address-shop:hover{
    color: var(--color-blue);
}

.footer-socials-text {
    font-weight: 700;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 20px;
  }
  .footer-socials-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  /* .footer-socials-item*/


.footer-flex{
    display: flex;
    gap: 70px;
}

  .footer-socials-link {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    list-style: none;
    border-radius: 50%;
  
    color: var(--color-white);
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .footer-socials-link:hover,
  .footer-socials-link:focus {
    background-color: #2196f3;
  }
  .footer-socials-icon {
    fill: currentColor;
  }


/*portfolio.html*/
.section-services{
    padding-bottom: 94px;
}

.list-filter-buttons-portfolio{
    list-style-type: none;
    display: flex;
    padding-top:100px;
    padding-bottom: 56px;
    justify-content: center;
    gap: 8px;
}

.list-filter-buttons-portfolio button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: var(--weight-medium);
    font-size: 16px;
    color: var(--color-dark);
    background-color:#F5F4FA;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;
}

.list-filter-buttons-portfolio button:hover{
    color: #FFFFFF;
    background-color: var(--color-blue);
    border: none;
    border-radius: 4px;
}

.list-services-portfolio{
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    gap: 30px;
}

.item-services{
    width: 370px;
}

.item-services-card{
    text-decoration: none;
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
}

.service_info{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.list-services-portfolio h4{
    font-style: normal;
    font-weight: var(--weight-bold);
    font-size: 18px;
}

.list-services-portfolio p{
    font-style: normal;
    font-weight: var(--weight-regular);
    font-size: 16px;
    color:var(--color-light);
    width: 370px;
}




